@font-face {
  font-family: "iconfont"; /* Project id 3244071 */
  src: url('iconfont.woff2?t=1647830171122') format('woff2'),
       url('iconfont.woff?t=1647830171122') format('woff'),
       url('iconfont.ttf?t=1647830171122') format('truetype');
}
body{
  margin: 0px;
  padding: 0px;
}
ul{
  margin: 0px;
  padding: 0px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
